body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
}

.main-container{
    max-width: 550px;
}

.main-container img{
    max-width: 100%;
    margin-bottom: 15px;
}

.main-container h1{
    color: white;
    font-weight: 500;
}

.main-container p{
    color: white;
    margin: 15px ;
}






#author{
    position: absolute;
    bottom : 0;
    text-align: center;
    color: white;
    font-size: 30px;
    background: rgba(5, 215, 155, 0.4); 
}